@media (hover: hover) {
    main-section {
        color: pink;
    }
}
#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

#main-doc header {
    text-align: left;
    margin: 0px;
}

